<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        <preference for="Magento\Authorizenet\Model\Directpost" type="Ampersand\Test\Model\WebApiSoap\Directpost" />
        <preference for="Magento\Weee\Model\Total\Quote\Weee" type="Ampersand\Test\Model\WebApiSoap\Total\Quote\Weee" />
</config>