language: php
php: 7.4
dist: xenial

env:
  - TEST_GROUP=22
  - TEST_GROUP=23
  - TEST_GROUP=24

before_install:
  - phpenv config-rm xdebug.ini || true

install:
  - composer self-update 1.10.16
  - composer install
# Run static analysis tests before trying to install the modules in magento
  - vendor/bin/php-cs-fixer fix --dry-run --diff src/
  - vendor/bin/php-cs-fixer fix --dry-run --diff dev/phpunit
  - vendor/bin/php-cs-fixer fix --dry-run --diff dev/TestModule
  - vendor/bin/php-cs-fixer fix --dry-run --diff dev/TestVendorModule
# Run unit tests before trying to install magento
  - vendor/bin/phpunit -c dev/phpunit/unit/phpunit.xml --verbose;
  - cd dev
  - if [[ $TEST_GROUP = 22 ]]; then phpenv global 7.2; fi
  - if [[ $TEST_GROUP = 22 ]]; then ./setup-magento-with-diff.sh 2.2.0 2.2.11 $TEST_GROUP; fi
  - if [[ $TEST_GROUP = 23 ]]; then phpenv global 7.2; fi
  - if [[ $TEST_GROUP = 23 ]]; then ./setup-magento-with-diff.sh 2.3.0 2.3.6 $TEST_GROUP; fi
  - if [[ $TEST_GROUP = 24 ]]; then ./setup-magento-with-diff.sh 2.3.5 2.4.1 $TEST_GROUP; fi
  - cd -

script:
  - if [[ $TEST_GROUP = 22 ]]; then vendor/bin/phpunit -c dev/phpunit/functional/phpunit.xml --exclude-group=v23,v24 --verbose; fi
  - if [[ $TEST_GROUP = 23 ]]; then vendor/bin/phpunit -c dev/phpunit/functional/phpunit.xml --exclude-group=v22,v24 --verbose; fi
  - if [[ $TEST_GROUP = 24 ]]; then vendor/bin/phpunit -c dev/phpunit/functional/phpunit.xml --exclude-group=v22,v23 --verbose; fi

services:
  - mysql
  - elasticsearch

cache:
  apt: true
  directories:
    - $HOME/.composer/cache
