language: php
php:
  - 8.1
dist: focal

env:
  - TEST_GROUP=m22
  - TEST_GROUP=m23
  - TEST_GROUP=m24
  - TEST_GROUP=m24nodb

before_install:
  - phpenv config-rm xdebug.ini || true

install:
  - composer self-update --2
  - composer validate
  - composer install
# Run static analysis tests before trying to install the modules in magento
  - test:static
# Run unit tests before trying to install magento
  - composer test:unit
  - if [[ $TEST_GROUP = m22 ]]; then rm -rf composer.lock ./vendor/ ; fi # todo ensure all 22 test cases are covered in 24
  - cd dev
  - docker --version
  - make docker-up ENV=$TEST_GROUP
  - docker ps
  - make docker-install ENV=$TEST_GROUP

script:
  - make docker-test ENV=$TEST_GROUP

services:
  - docker

cache:
  apt: true
  directories:
    - $HOME/.composer/cache
