<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        <preference for="Magento\AdvancedPricingImportExport\Model\Export\AdvancedPricing" type="Ampersand\Test\Model\Admin\Export\AdvancedPricing" />
        <preference for="Magento\Authorizenet\Model\Directpost" type="Ampersand\Test\Model\Directpost" />
        <preference for="Magento\Weee\Model\Total\Quote\Weee" type="Ampersand\Test\Model\Total\Quote\Weee" />
        <preference for="Ampersand\TestVendor\Model\SomeClass" type="Ampersand\Test\Model\ThirdPartyClass" />
        <preference for="Magento\Framework\Locale\Format" type="Ampersand\Test\Model\Locale\Format" />

        <type name="Magento\Sales\Block\Adminhtml\Order\Create\Form">
                <plugin name="AmpersandTestPluginBeforeAfterAround" type="Ampersand\Test\Block\Plugin\OrderCreateFormPlugin" sortOrder="1" />
        </type>

        <type name="Magento\Sales\Block\Adminhtml\Order\View\History">
                <plugin name="AmpersandTestPluginBeforeAfterAround2" type="Ampersand\Test\Block\Plugin\OrderViewHistoryPlugin" sortOrder="1" />
        </type>

        <type name="Magento\AdobeIms\Model\UserProfile">
                <plugin name="AmpersandTestPluginBeforeAfterAround3\UserProfile" type="Ampersand\Test\Plugin\AdobeImsUserProfile" sortOrder="1" />
                <plugin name="somethingVirtualPlugin" type="somethingVirtualPlugin"/>
        </type>

        <type name="Magento\Theme\Model\View\Design">
                <arguments>
                        <argument name="themes" xsi:type="array">
                                <item name="frontend" xsi:type="string">Ampersand/theme</item>
                        </argument>
                </arguments>
        </type>

        <virtualType name="somethingVirtualPlugin" type="Ampersand\Test\Plugin\AdobeImsUserProfileVirtual">
        </virtualType>

</config>