<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        <preference for="Magento\Authorizenet\Model\Directpost" type="Ampersand\Test\Model\Frontend\Directpost" />
        <preference for="Magento\Weee\Model\Total\Quote\Weee" type="Ampersand\Test\Model\Frontend\Total\Quote\Weee" />

        <type name="Magento\Framework\Stdlib\Cookie\PhpCookieManager">
                <plugin name="examplePlugin" type="Ampersand\Test\Plugin\PhpCookieManager" />
        </type>
</config>